
<div class="modal fade" id="modal-preview-pa"" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Previsualización de - <strong>Física I</strong> </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="pa">
                    <img src="@@path/assets/img/example-images-pa/page-0001.jpg" alt="Pagina 1">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0002.jpg" alt="Pagina 2">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0003.jpg" alt="Pagina 3">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0004.jpg" alt="Pagina 4">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0005.jpg" alt="Pagina 5">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0006.jpg" alt="Pagina 6">
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>