
<div class="modal fade" id="modal-preview-pa"" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Previsualización de - <strong>Física I</strong> </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="pa">
                    <img src="@@path/assets/img/example-images-pa/page-0001.jpg" alt="Pagina 1">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0002.jpg" alt="Pagina 2">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0003.jpg" alt="Pagina 3">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0004.jpg" alt="Pagina 4">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0005.jpg" alt="Pagina 5">
                    <hr>
                    <img src="@@path/assets/img/example-images-pa/page-0006.jpg" alt="Pagina 6">
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- modal para emitir un programa analítico -->
<div class="modal fade" id="modal-emitir-pa"" tabindex=" -1" role="dialog" aria-labelledby="modal-default"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h6 modal-title">Emitir P.A. - <strong>Física I</strong> </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">

          <div class="mb-3">
            <label for="name-est" class="form-label">Nombre de el/la solicitante</label>
            <input type="text" class="form-control" id="name-est" autofocus required>
          </div>

          <div class="mb-3">
            <label for="emit-date">Fecha de emisión </label>
            <div>
              <small class="text-danger">Dejar en blanco este campo. Amenos que quiera emitir con otra fecha</small>
            </div>
            <div class="input-group">
              <span class="input-group-text">
                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"></path>
                </svg> 
              </span>
              <input data-datepicker="" class="form-control datepicker-input" id="emit-date" type="text" placeholder="mm/dd/yyyy" required="">
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Descargar pdf </button>
        <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
